* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  color: #222;
  padding-top: 67px;
  background-color: #49568e;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.port {
  background-image: url(assets/image/portfolio1.1.png);
  background-repeat: none;
  background-size: cover;
  background-position: bottom center;
  height: 90vh;
  width: 100%;
  max-width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  z-index: -2;
}

.portcontent h1 {
  font-size: 30px;
  margin: 0px 0;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.portcontent h1 strong {
  font-weight: 700;
}

.portcontent h2 {
  font-size: 150%;
  margin: 0px 0;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portcontent p {
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
}

.parallax {
  background: url(./assets/image/fishwb.jpg) no-repeat fixed 50%;
  background-size: cover;
}

.parallax {
  padding-top: 5%;
  padding-bottom: 1%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10px;
}

.learn-more-btn {
  background-color: #ffffff00;
  color: white;
  border: none; /* Removes default border */
  padding: 10px 20px; /* Adds padding inside the button */
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* margin-bottom: 100px; */
}
/* Hover effect */
.learn-more-btn:hover {
  background-color: #ffffff;
  color: #373a77;
}

/*image containers*/
.cont {
  width: 100%;
  height: 620px;
  display: flex;
  align-items: flex-start;
  display: flex;
  justify-content: center;

  margin-top: 150px;
}

.img-cont {
  display: flex;
  gap: 20px;
}

.image {
  position: relative;
  overflow: hidden;
  width: 40vw;
  height: 60vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content:hover {
  opacity: 1;
}

.content h1 {
  font-size: 45px;
  color: #fff;
  margin-bottom: 15px;
}

.content p {
  font-size: 19px;
  color: #a1a1a1;
}

.contact-btn {
  background-color: transparent;
  color: white;
  border: none; /* Removes default border */
  padding: 10px 20px; /* Adds padding inside the button */
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 100px;
  width: 200px;
  align-self: center;
}
/* Hover effect */
.contact-btn:hover {
  background-color: #ffffff;
  color: #373a77;
}

/* 2560 gelecek */
@media screen and (min-width: 2560px) {
}

@media screen and (max-width: 1024px) {
  .port {
    height: 60vw;
  }
}

/* 768 gelecek */
@media screen and (max-width: 768px) {
  .img-cont {
    flex-direction: column;
  }

  .image {
    width: 70vw;
    height: 70vw;
  }

  .parallax {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .portcontent p {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* 425 gelecek */
@media screen and (max-width: 425px) {
  .parallax {
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .portcontent p {
    font-size: 16px;
  }
}

/* 320 gelecek */
@media screen and (max-width: 320px) {
  .content h1 {
    font-size: 18px;
  }

  .content p {
    font-size: 15px;
  }

  .parallax {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .portcontent p {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cont {
    margin-top: 50px;
  }
}
